# titanic幸存者分析

In [2]:
import pandas as pd 
train = pd.read_csv('C://Users//Administrator//jupyter-notebook//pydata-book-2nd-edition//datasets//titanic/train.csv')
#加两道斜杠
test = pd.read_csv('C://Users//Administrator//jupyter-notebook//pydata-book-2nd-edition//datasets//titanic/test.csv')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
train.isnull().sum()
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [4]:
impute_value = train['Age'].median()
#给缺失的age补充数据
train['Age'] = train['Age'].fillna(impute_value)
test['Age'] = test['Age'].fillna(impute_value)

In [5]:
train['IsFemale'] = (train['Sex'] == 'female').astype(int)
train['IsFemale'].head()

0    0
1    1
2    1
3    1
4    0
Name: IsFemale, dtype: int32

In [6]:
test['IsFemale']=(test['Sex']=='female').astype(int)

In [7]:
predic = ['Pclass','IsFemale','Age']

In [8]:
train['Pclass'].values[:10]

array([3, 1, 3, 1, 3, 3, 1, 3, 3, 2], dtype=int64)

In [19]:
X_train = train [predic].values
X_test = test[predic].values
y_train= train['Survived'].values
X_train[:5]

array([[ 3.,  0., 22.],
       [ 1.,  1., 38.],
       [ 3.,  1., 26.],
       [ 1.,  1., 35.],
       [ 3.,  0., 35.]])

In [20]:
from sklearn.linear_model import LogisticRegression
myModel=LogisticRegression()

In [26]:
myModel.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [22]:
import matplotlib as plt

In [23]:
y_predict = myModel.predict(X_test)
y_predict[:10]

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0], dtype=int64)

### 交叉验证
利用LogisticRegressionCV

In [48]:
from sklearn.linear_model import LogisticRegressionCV
model_CV = LogisticRegressionCV(10)
model_CV.fit(X_train,y_train)

LogisticRegressionCV(Cs=10, class_weight=None, cv=None, dual=False,
           fit_intercept=True, intercept_scaling=1.0, max_iter=100,
           multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
           refit=True, scoring=None, solver='lbfgs', tol=0.0001, verbose=0)